* {
  padding: 0;
  margin: 0;
  background-color: black;
}

h1 {
  font-family: "VT323", monospace, "Outfit", sans-serif;
  color: red;
  text-align: center;
  font-size: 8rem;
}

h2 {
  font-family: "VT323", monospace, "Outfit", sans-serif;
  color: red;
  display: flex;
  font-size: 4rem;
}

h4 {
  font-family: "VT323", monospace, "Outfit", sans-serif;
  color: red;
  font-size: 2rem;
}

.status-container {
    display: flex;
    text-align: center;
    justify-content: center;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap; /* Allow buttons to wrap to the next line */
  justify-content: center; /* Center buttons horizontally */
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.start-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center; /* Center items vertically */
  text-align: center;
}
.start-button {
  margin-top: 1rem;
  width: 200px; /* Adjust the width as needed */
  background-color: red; /* Set the background color to red */
  color: white; /* Set the text color to white */
  padding: 1rem 2rem; /* Add padding for better appearance */
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

button {
  padding: 2rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: white;
  display: inline-flex;
  margin: 4rem;
}
