* {
  padding: 0;
  margin: 0;
  background-color: black;
}

h1, h2, h4 {
  font-family: "VT323", monospace, "Outfit", sans-serif;
  color: red;
}

h1 {
  text-align: center;
  font-size: 7rem;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

h4 {
  font-size: 2rem;
}

p {
  color: white;
  background-color: red;
}

.status-container, .buttons-container, .img-container, .start-container, .score-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons-container {
  flex-wrap: wrap;
  justify-content: center;
}

.img-container {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.start-container {
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.start-button, button {
  padding: 2rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  background-color: red;
  color: white;
  margin: 10px;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
