* {
    padding: 0;
    margin: 0;
    background-color: black;
}

h1 {
    font-family: 'VT323', monospace,'Outfit', sans-serif;
    color: red;
    text-align: center;
    font-size: 8rem;
}

.buttons-container {
    display: flex;
    justify-content: center;

}

.img-container {
    display: flex;
    justify-content: center;
}

button {
    padding: 1rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    background-color: white;
    display: inline-flex;
    margin: 4rem;

}

button.blue {
    background-color: #3498db;
}

button.green {
    background-color: #2ecc71;
}

button.orange {
   background-color: orangered;
}